*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
html, body{
    height: 100%;
    width: 100%;
    background: #f8f8f8;
}
#main{
    width: 100%;
    height: 100%;
    background: #f8f8f8;
    padding: 0.1px;
    position: relative;
}
#nav{
    width: 100%;
    height: 10%;
    margin-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav h1{
    font-family: "Momo Trust Display", sans-serif;
    width: 24%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav h3{
    display: none;
}
#nav h1::after{
    content: '©';
    font-family: Inter;
    font-weight: 300;
    font-size: 1vw;
    position: absolute;
    right: 24%;
    top: 10%;
}
#nav h1::before{
    content: 'model management';
    font-size: 1vh;
    font-family: Inter;
    position: absolute;
    right: 29%;
    bottom: 0%;
}
#nav h2{
    border-right: 2px solid black;
    width: 25%;
    font-size: 1.3vw;
    font-weight: 500;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav h2:nth-of-type(1){
    width: 20%;
}
#nav h2:nth-of-type(2){
    width: 25%;
}
#nav h2:nth-of-type(3){
    width: 35%;
}
#nav h2:nth-of-type(4){
    width: 15%;
}
#center{
    width: 100%;
    height: 88%;
    padding: 4vw;
    position: relative;
}
#content{
    width: 100%;
    height: 100%;
    position: relative;
}
#content video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#overlay{
    width: 100%;
    height: 50%;
    padding-top: 3vh;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.148);
    backdrop-filter: blur(5px);
}
#over1{
    display: flex;
    justify-content: space-between;
    margin: 0vh 4vw;
    padding-bottom: 3vh;
    border-bottom: 2px solid white ;
}
#over1 h2{
    font-family: "Archivo Black", sans-serif;
    font-size: 4vw;
    font-weight: 600;
    line-height: 1.1;
    font-style: normal;
    color: white;
    mix-blend-mode: difference;
}
#over1 h4{
    width: 7vh;
    height: 7vh;
    margin-top: 1vw;
    font-size: .7vw;
    color: #ffffff;
    padding: 0vw 1vw;
    border: 1px solid white;
    border-bottom: 3px solid white;
    border-radius: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
#over2{
    display: flex;
    justify-content: space-between;
    padding: 2vh 4vw;
    color: white;
}
#over2 h4:nth-child(2){
    padding-right: 1vh;
}
#scroll{
    width: 100%;
    height: 20vh;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}
#container1{
    display: flex;
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    padding-top: 1vw;
    justify-content: center;
    gap: 2.9vw;
    animation-name: scroll-animation;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}
#container1 img{
    width: 7vw;
    height: 7vw;
    border-radius: 15vh;
    object-fit: cover;
    object-position: 0% 10%;
}
#container1 img:nth-child(2n){
    object-position: 0% 25%;
}
#container2{
    display: flex;
    width: 100%;
    flex-shrink: 0;
    height: 100%;
    padding-top: 1vw;
    justify-content: center;
    gap: 2.9vw;
    animation-name: scroll-animation;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}
#container2 img{
    width: 7vw;
    height: 7vw;
    border-radius: 15vh;
    object-fit: cover;
    object-position: 0% 10%;
}
#container2 img:nth-child(2n){
    object-position: 0% 25%;
}
@keyframes scroll-animation{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(-100%);
    }
}
#scroll::-webkit-scrollbar{
    display: none;
}
#alphabets{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
#alphabets h5{
    font-size: 1.3vw;
    font-weight: 400;
    font-style: italic;
    border-bottom: 2px solid black;
}
#alphabets h6{
    font-weight: 500;
    padding: 1vh 1.5vh;
    border-radius: 2vh;
    transition: all ease .2s;
    border: none;
}
#alphabets h6:hover{
    border: 1px solid black;
}
#section2{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 2vw 4vw;
    gap: 4.5vw;
    /* background: blue; */
}
#section2-part1{
    height: 100%;
    width: 70%;
    background: url(https://images.unsplash.com/photo-1524504388940-b1c1722653e1?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687);
    background-size: cover;
    background-position: 0% 20%;
}
#section2-part2{
    height: 100%;
    width: 50%;
    /* background: blue; */
}
#section2-part2 img{
    width: 100%;
    height: 77%;
    object-fit: cover;
    object-position: 0% 70%;
}
#section2-part2-text{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}
#section2-part2-text h5{
    font-size: 1.5vw;
    line-height: 1.2;
    font-weight: 600;
}
#section2-part2-text p{
    text-align: justify;
    line-height: 1.2;
    font-weight: 500;
}
#section2-bottom-text{
    width: 100%;
    height: 7vh;
    padding-left: 4vw;
}
#section2-bottom-text h1{
    font-size: 3vw;
    text-transform: uppercase;
    font-family: "Momo Trust Display", sans-serif;
}
#section3{
    height: 100%;
    width: 100%;
    padding: 2vw 4vw;
    display: flex;
    justify-content: space-between;
    /* background: yellow; */
}
#section3-part1{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12vw;
}
#section3-part2{
    width: 55%;
    height: 100%;
    background: url(https://media.vogue.de/photos/5e3806543b2e8300084f7cfd/master/w_1600,c_limit/1IMG_4681);
    background-size: cover;
    background-position: 0% 50%;
}
#section3-part1-top{
    width: 60%;
    height: 40%;
    display: flex;
    align-self: center;
    background: url(image-removebg-preview.png);
    background-size: 90%;
    position: relative;
}
#section3-part1-top img{
    width: 5vw;
    position: absolute;
    left: 47%;
    top: 53%;
    transform: translate(-50%, -50%);
}
#section3-part1-bottom{
    width: 100%;
}
#section3-part1-bottom h5{
    font-size: 1.8vw;
    text-align: justify;
    line-height: 1;
    font-weight: 500;
}
#section3-bottom{
    width: 100%;
    height: 80vh;
    padding: 2vw 4vw;
}
#section3-bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
}
#section4{
    width: 100%;
    height: 100%;
    padding: 2vw 4vw;
    display: grid;
    grid-template-rows: 20% 19% 19% 19% 19%;
}
.section4-first-row{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
}
.section4-first-row h1{
    text-transform: uppercase;
    font-family: "Momo Trust Display", sans-serif;
    font-size: 3vw;
}
.section4-elem{
    display: grid;
    grid-template-columns: 15% 35% 50%;
    border-bottom: 2px solid black;
}
.section4-elem div:nth-child(1){
    padding: 1vw 2.5vw;
}
.section4-elem div:nth-child(1) h5{
    font-size: 1.3vw;
    font-weight: 400;
    text-transform: uppercase;
}
.section4-elem div:nth-child(2){
    padding: .5vw 3vw;
}
.section4-elem div:nth-child(2) img{
    width: 7.5vw;
    height: 14vh;
    object-fit: cover;
    object-position: center 20%;
    border-radius: 5vw;
    transition: box-shadow .2s ease-in-out;
}
.section4-elem div:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-top: 1.5vw;
}
.section4-elem div:nth-child(3) h2{
    font-size: 3.1vw;
    font-weight: 400;
}
.section4-elem div:nth-child(3) p{
    text-transform: uppercase;
    font-size: .9vw;
}
.section4-elem:hover img{
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.4);
}
.section4-elem:hover{
    background-color: #dbd2d22c;
}
#section5{
    width: 100%;
    height: 100%;
    padding: 2vw 4vw;
    display: flex;
    justify-content: space-between;
}
#section5-part1{
    width: 48%;
    height: 100%;
    background: url(https://plus.unsplash.com/premium_photo-1688497830987-e4f7ce4da50b?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687);
    background-size: cover;
    background-position: 0% 40%;
}
#section5-part2{
    width: 48%;
    height: 100%;
}
#section5-part2-top{
    width: 100%;
    height:45%;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
#section5-part2-top h1{
    font-size: 4vw;
    text-transform: uppercase;
    font-weight: 1000;
}
#section5-part2-top h5{
    width: 60%;
    font-size: 1.5vw;
    font-weight: 600;
    line-height: 4vh;
}
#section5-part2-top p{
    font-size: 1vw;
    font-weight: 500;
    line-height: 2.5vh;
}
#section5-part2-bottom{
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
}
#section5-part2-bottom img:nth-child(1){
    width: 60%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 15%;
}
#section5-part2-bottom img:nth-child(2){
    width: 35%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 40%;
    transform: scale(1);
}
#section5-bottom{
    width: 91.7%;
    height: 75%;
    margin: 0vw 4vw;
    background: url(https://images.unsplash.com/photo-1512316609839-ce289d3eba0a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1169);
    background-size: cover;
    background-position: center 25%;

}
#section6{
    height: 100%;
    width: 100%;
    display: flex;
    padding: 3vw 4vw;
    gap: 4.5vw;
}
#section6-part1{
    height: 100%;
    width: 70%;
    background: url(https://images.unsplash.com/photo-1719682618598-48e5fd79c184?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1169);
    background-size: cover;
    background-position: 0% 20%;
}
#section6-part2{
    height: 100%;
    width: 50%;
}
#section6-part2 img{
    width: 100%;
    height: 77%;
    object-fit: cover;
    object-position: 0% 70%;
}
#section6-part2-text{
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}
#section6-part2-text h5{
    width: 50%;
    height: 100%;
    font-size: 1.5vw;
    line-height: 1.2;
    font-weight: 600;
}
#section6-part2-text p{
    width: 50%;
    text-align: justify;
    line-height: 1.1;
    font-weight: 500;
}
#marque{
    width: 100%;
    padding: .5vw 1vw;
    margin-top: 3vw;
    /* margin-top: 5vh; */
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* background: yellow; */
}
#marque h1{
    display: inline-block;
    font-size: 3vw;
    font-family: "Archivo Black", sans-serif;
    font-style: normal;
    color: transparent;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 16px;
    -webkit-text-stroke: 2px black;
    animation-name: marque-animation;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes marque-animation{
    from{
        transform: translate(0%);
    }
    to{
        transform: translate(calc(-100% - 20px));
    }
}
#section7{
    width: 100%;
    height: 80%;
    padding: 4vw 4vw;
    display: grid;
    grid-template-columns: 21% 37% 37%;
    gap: 2vw;
}
#section7-part1 h1{
    text-transform: uppercase;
    font-size: 4vw;
    font-family: "Archivo Black", sans-serif;

}
#section7-part2-top{
    width: 100%;
    height: 40%;
    padding-top: .5vw;
}
#section7-part2-top span{
    text-align: center;
    font-size: .7vw;
    border: 2px solid black;
    padding: .5vw 1vw;
    margin-right: 1vh;
    border-radius: 5vh;
    text-transform: uppercase;
}
#section7-part2-top h5{
    font-size: 1.6vw;
    font-weight: 500;
    display: inline;
    margin-top: 1vh;
    letter-spacing: 1px;
    line-height: 1.5;
}
#section7-part2 img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center top;
}
#section7-part3-top{
    width: 100%;
    height: 40%;
    padding-top: .5vw;
}
#section7-part3-top span{
    text-align: center;
    font-size: .7vw;
    border: 2px solid black;
    padding: .5vw 1vw;
    margin-right: 1vh;
    border-radius: 5vh;
    text-transform: uppercase;
}
#section7-part3-top h5{
    font-size: 1.6vw;
    font-weight: 500;
    display: inline;
    margin-top: 1vh;
    letter-spacing: 1px;
    line-height: 1.5;
}
#section7-part3 img{
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center bottom;
}
#section8{
    width: 100%;
    height: 40%;
}
#footer{
    width: 100%;
    height: 80%;
    padding: 0vw 4vw;
    padding-right: 0;
    display: grid;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    grid-template-columns: 21% 21% 21% 36%;
    grid-template-rows: 30% 70%;
}
#footer h1{
    font-family: "Momo Trust Display", sans-serif;
    width: 100%;
    align-self: center;
    position: relative;
}
#footer h1::after{
    content: '©';
    font-family: Inter;
    font-weight: 300;
    font-size: 1vw;
    position: absolute;
    right: 51%;
    top: 10%;
}
#footer h1::before{
    content: 'model management';
    font-size: 1vh;
    font-family: Inter;
    position: absolute;
    right: 56.5%;
    bottom: 0%;
}
#footer h5{
    width: 100%;
    font-size: 1vw;
    font-size: 1.2vw;
    font-weight: 500;
}
#models{
    display: flex;
    grid-row: 1/4;
    grid-column: 2;
    border-right: 2px solid black;
}
#models h5{
    width: 100%;
    font-size: 1vw;
    font-size: 1.2vw;
    text-align: center;
    font-weight: 500;
    padding-top: 1.5vw;
}
#women-men{
    display: flex;
    border-right: 2px solid black;
    height: 100%;
    grid-row: 1/4;
    grid-column: 3;
}
#women-men h5{
    text-align: center;
    padding-top: 1.5vw;
}
#agency h5{
    padding: 1.5vw 4vw;
}
#footer-bottom{
    width: 102.8%;
    grid-row: 2;
    grid-column: 4;
    padding: 2vw 4vw;
    border-top: 2px solid black;
}
#social-links{
    display: flex;
    width: 50%;
    margin-bottom: 1vw;
    gap: 1vw;
}
#social-links i{
    font-size: 1.1vw;
    color: #2f2e2e;
}
#footer div p{
    font-size: .9vw;
}

@media (max-width:600px) {
    #main{
        overflow-x: hidden;
    }
    #nav{
        width: 100%;
        height: 5%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 50vw;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
    }
    #nav h1{
        font-size: 5vw;
        font-family: "Momo Trust Display", sans-serif;
        width: 30%;
        padding-right: 10vw;
    }
    #nav h1::after{
        display: none;
    }
    #nav h1::before{
        display: none;
    }
    #nav h2{
        display: none;
    }
    #nav h3{
        display: block;
        justify-self: flex-end;
        font-size: 3vw;
    }

    #center{
        height: 40%;
    }
    #overlay{
        width: 100%;
        height: 45%;
        padding-top: .5vw;
        position: absolute;
        backdrop-filter: blur(0);
        background: transparent;
        bottom: 0;
    }
    #over1{
        display: flex;
        justify-content: space-between;
        margin: 0vh 4vw;
        padding-bottom: 3vw;
        border-bottom: 1px solid white ;
    }
    #over1 h2{
        font-size: 6vw;
        font-weight: 100;
    }
    #over1 h4{
        width: 10vw;
        height: 10vw;
        font-size: 2vw;
        font-weight: 200;
    }
    #over2{
        display: flex;
        justify-content: space-between;
        padding: 2vw 4vw;
        color: white;
    }
    #over2 h4:nth-child(1){
        font-size: 3vw;
        font-weight: 500;
    }
    #over2 h4:nth-child(2){
        padding-right: 1vh;
        font-weight: 100;
    }
    #scroll{
        margin-top: 3vw;
        margin-bottom: 3vw;
        height: 10vw;
    }

    #alphabets{
        width: 100%;
        height: 10vw;
        border-top: .7px solid black;
        border-bottom: .7px solid black;
        gap: 2vw;

    }
    #alphabets h5{
        font-size: 1.3vw;
        font-weight: 400;
        font-style: italic;
        border-bottom: .5px solid black;
    }
    #alphabets h6{
        font-size: 1vw;
        font-weight: 500;
        padding: 0.2vw 0.4vw;
        border-radius: 2vw;
        transition: all ease .2s;
        border: none;
    }
    #alphabets h6:hover{
        border: .5px solid black;
    }

    #section2{
        height: 36%;
    }
    #section2-part2-text{
        margin-top: 1vw;
    }
    #section2-part2-text h5{
        width: 45%;
        font-size: 2vw;
    }
    #section2-part2-text p{
        width: 50%;
        font-size: 1vw;
    }
    #section2-bottom-text{
        width: 100%;
        height: fit-content;
        padding-left: 4vw;
    }
    #section3{
        height: 40%;
    }
    #section3-part1{
        width: 40%;
        gap: 20vw;
    }
    #section3-part1-top{
        width: 80%;
        height: 40%;
    }
    #section3-bottom{
        width: 100%;
        height: 50vw;
        padding: 2vw 4vw;
    }
    #section3-bottom img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center 30%;
    }
   
    #section4{
        height: 30%;
    }
    .section4-first-row{
        border-bottom: .5px solid black;
    }
    .section4-elem{
        display: grid;
        grid-template-columns: 15% 35% 50%;
        border-bottom: .5px solid black;
    }
    .section4-elem div:nth-child(2) img{
        width: 7vw;
        height: 7vw;
    }


    #section5{
        height: 40%;
    }
    #section5-part2-top h5{
        line-height: 3vw;
    }
    #section5-part2-top p{
        line-height: 2.5vw;
    }
    #section5-part2-bottom img:nth-child(2){
        object-position: 45% 40%;
    }
    #section5-bottom{
        height: 25%;
    }

        
    #section6{
        height: 40%;
    }
    #section6-part1{
        background-position: 50% 20%;
    }
    #section6-part2 img{
        object-position: 0% 70%;
    }
    #section6-part2-text{
        display: flex;
        justify-content: space-between;
        margin-top: 2vw;
    }
    #section6-part2-text h5{
        width: 50%;
        font-size: 2vw;
        line-height: 1;
    }
    #section6-part2-text p{
        width: 40%;
        font-size: 1.2vw;
        line-height: 1;
    }
    #marque h1{
        -webkit-text-stroke: .5px black;
    }


        
    #section7{
        height: 40%;
    }
    #section7-part1 h1{
        padding-top: .7vw;
    }
    #section7-part2-top{
        width: 100%;
        height: 40%;
        padding-top: 0vw;
    }
    #section7-part2-top span{
        font-size: 1.5vw;
        border: .5px solid black;
        padding: .7vw 1.1vw;
        margin-right: 1vw;
    }
    #section7-part2-top h5{
        font-size: 1.2vw;
        display: inline;
        margin-top: 0vw;
        line-height: 1;
    }
    #section7-part3-top{
        width: 100%;
        height: 40%;
        padding-top: 0vw;
    }
    #section7-part3-top span{
        font-size: 1.5vw;
        border: .5px solid black;
        padding: .7vw 1.1vw;
        margin-right: 1vw;
    }
    #section7-part3-top h5{
        font-size: 1.2vw;
        display: inline;
        margin-top: 0vw;
        line-height: 1;
    }
        
    #section8{
        height: 13%;
    }
    #footer{
        border-top: .5px solid black;
        border-bottom: .5px solid black;
    }
    #footer h1{
        width: 100%;
        font-size: 3vw;
    }
    #footer h1::after{
        display: none;
    }
    #footer h1::before{
        display: none;
    }
    #models{
        border-right: .5px solid black;
    }

    #women-men{
        border-right: .5px solid black;
    }

    #footer-bottom{
        border-top: .5px solid black;
    }
}